<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nicolas.imagegallery">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:allowBackup="false"
                 android:usesCleartextTraffic="true"
                 android:name=".ImageGalleryApplication"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">


        <activity android:name=".ui.activity.StarterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.ImageViewerActivity"/>
        <activity android:name=".ui.activity.CommonListActivity"/>

    </application>
</manifest>
